<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>student</title>
   <style>
        body{
            background-color: skyblue;
        }
    </style>
</head>
<body>
<form action="http://localhost:5000/result" method="POST">
    <p>Name:</p><input type="text" name ="Name" placeholder="Enter your name..."><br>
    <p>Physics:</p><input type ="text" name="Physics" placeholder="Physical science marks..."/><br>
    <p>Chemistry:</p><input type="text" name="chemistry" placeholder="chemistry marks..." /><br>
    <p>Maths:</p><input type = "text" name="Mathematics" placeholder="Mathematics marks..."/><br>
    <p><input type="submit" value ="submit" /></p>
</form>

<div id="send-email">
    <form>
        
    </form>
</div>

</body>
</html>
